* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #f6f6fe;
  font-family: "Open Sans", sans-serif;
}
.titulo {
  padding-top: 15px;
  text-align: center;
  font-family: "Times New Roman", Times, serif;
  color: green;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.contenedor {
  max-width: 100%;
  width: 100%;
  margin: 0 auto;
}

.contenedor__cards {
  margin: 70px 0;
  display: flex;
  flex-wrap: wrap;
}

.card {
  background-color: #fff;
  border-radius: 15px;
  padding: 20px;
  margin: 10px;
  display: flex;
  align-items: center;
  position: relative;
  margin-bottom: 50px;
  width: auto;
}

.card__imagen {
  width: 300px;
  height: 180px;
  margin-right: 20px;
  border-radius: 10px;
  overflow: hidden;
  display: inline-block;
  background-color: green;
}
.card__img {
  align-items: center;
  justify-content: center;
  width: 100%;
}

.card__titulo {
  font-family: "Raleway", sans-serif;
  font-size: 30px;
  font-weight: normal;
  margin-bottom: 20px;
}
.card__enlace {
  color: #000;
  font-weight: 600;
}
.card__descripcion {
  line-height: 28px;
  color: rgb(20, 18, 5);
  margin-top: 20px;
}

.boton {
  border: none;
  min-width: 180px;
  height: 50px;
  padding: 0 30px;
  background: #000;
  color: #fff;
  display: inline-block;
  border-radius: 100px;
  text-decoration: none;
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  background: #403cc2;
  transition: 0.3s ease all;
}
.boton__texto {
  font-weight: 600;
}

.boton:hover {
  background-color: royalblue;
  text-decoration: none;
}

/* Modificador */
.boton--azul {
  position: absolute;
  right: 20px;
  bottom: -25px;
}

/* Modificador */
.boton--verde {
  background: #437837;
}
.boton--verde:hover {
  background: #1b5a0d;
}

.frase {
  text-align: center;
  margin: 70px 0;
}

.frase_texto {
  margin-bottom: 20px;
  font-size: 30px;
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  font-style: italic;
}
